@import "css/bootstrap.min.css";
@import "css/thumbnail-gallery.css";
@import "css/custom.css";



.styel{
        margin-top: 50px;
        color: -moz-menuhover;
        font-size: 20px;
        font-family: Trebuchet MS;

    }
